* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

#title, #color-palette {
  margin-top: 10px;
  margin-left: 20px;
}

#pixel-board {
  margin-top: 10px;
  margin-left: 20px;
  margin-bottom: 10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: start;
  width: 200px;
}

.color {
  height: 50px;
  width: 50px;
  border: 1px solid black;
  display: inline-block;
  cursor: grab;
}

#Black {
  background-color: black;
}

#Red {
  background-color: red;
}

#Green {
  background-color: green;
}

#Blue {
  background-color: blue;
}

.pixel {
  height: 40px;
  width: 40px;
  background-color: white;
  border: 1px solid black;
  cursor: grabbing;
}