* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

#title,#color-palette,#buttons {
  margin-top: 10px;
  margin-left: 20px;
}

#pixel-board {
  margin-top: 10px;
  margin-left: 20px;
  margin-bottom: 10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: start;
  width: 200px;
}

#clear-board {
  margin-bottom: 10px;
  padding: 10px 30px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 900;
  background-color: #ffca2c;
  box-shadow: 2px 2px 1px #ccc;
  transition: 0.5s ease;
}

#generate-board {
  margin-bottom: 10px;
  padding: 10px 30px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 900;
  background-color: #31d2f2;
  box-shadow: 2px 2px 1px #ccc;
  transition: 0.5s ease;
}

#board-size {
  border: 1px solid #31d2f2;
  border-radius: 4px;
  padding: 10px 10px;
  width: 160px;
}

#clear-board:hover, #generate-board:hover {
  box-shadow: 3px 3px 4px #ccc;
  cursor: pointer;
}

.color {
  height: 50px;
  width: 50px;
  border: 1px solid black;
  display: inline-block;
  cursor: pointer;
}

.pixel {
  height: 40px;
  width: 40px;
  background-color: white;
  border: 1px solid black;
  cursor: grabbing;
}
