* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

.color {
  height: 50px;
  width: 50px;
  border: 1px solid black;
  display: inline-block;
  cursor: grab;
}

#Black {
  background-color: black;
}

#Red {
  background-color: red;
}

#Green {
  background-color: green;
}

#Blue {
  background-color: blue;
}